body {
  text-align: center;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  /* Below was for the set widths when body was not taking up the full screen
  and shrinking content. See below links:
  https://stackoverflow.com/questions/21389073/why-isnt-body-expanding-to-fit-its-contents
  https://developer.mozilla.org/en-US/docs/Web/CSS/min-width
  https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content
   */
  /* min-width: fit-content; */
}

.row {
  display: grid;
}

.row1 {
  /* width: 24vw; */
  grid-template-columns: repeat(4, 1fr);
}

.row2 {
  /* width: 33vw; */
  grid-template-columns: repeat(3, 1fr);
}

.row3 {
  /* width: 49vw; */
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  .row {
    grid-template-columns: none;
  }
}
